IITS_CloudAccounting/Service References/com.mobiletranzact.www/MobileTranzactService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.mobiletranzact.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.mobiletranzact.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.mobiletranzact.com/">
      <s:element name="MakeOrderPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardTransactionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PINNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MerchantID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MerchantAuthkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionTypeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionAuthkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MerchantTranAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MerchantTransactionNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ErrorNo" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorDesc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MakeOrderPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MakeOrderPaymentResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="CardTransactionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ErrorNo" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorDesc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MakeOrderPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:MakeOrderPayment" />
  </wsdl:message>
  <wsdl:message name="MakeOrderPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:MakeOrderPaymentResponse" />
  </wsdl:message>
  <wsdl:portType name="MobileTranzactServiceSoap">
    <wsdl:operation name="MakeOrderPayment">
      <wsdl:input message="tns:MakeOrderPaymentSoapIn" />
      <wsdl:output message="tns:MakeOrderPaymentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MobileTranzactServiceSoap" type="tns:MobileTranzactServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MakeOrderPayment">
      <soap:operation soapAction="http://www.mobiletranzact.com/MakeOrderPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MobileTranzactServiceSoap12" type="tns:MobileTranzactServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MakeOrderPayment">
      <soap12:operation soapAction="http://www.mobiletranzact.com/MakeOrderPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MobileTranzactService">
    <wsdl:port name="MobileTranzactServiceSoap" binding="tns:MobileTranzactServiceSoap">
      <soap:address location="http://www.mobiletranzact.com/Service/MobileTranzactService.asmx" />
    </wsdl:port>
    <wsdl:port name="MobileTranzactServiceSoap12" binding="tns:MobileTranzactServiceSoap12">
      <soap12:address location="http://www.mobiletranzact.com/Service/MobileTranzactService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>